.mytext {
    font-size: 18px;
}

* {
    margin: 0px;
}

p {
    padding: 10px;
}



#header {
    background-color: cornflowerblue;
    background-image: url("montreal-1.jpg");
    background-size: cover;
    text-align: center;
    height: 120px;
    line-height: 120px;
}

#main {
    background-color: #eeeeee;
    height: 403px;
    padding: 15px;
    color: darkslateblue;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#footer {
    background-color: cornflowerblue;
    background-image: url("montreal-1.jpg");
    background-size: cover;
    text-align: center;
    height: 24px;
    line-height: 24px;
    padding: 1px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content {
    
}

img {
    float: left;
    padding: 10px;
}